{
    debug
}

{$FRONTEND_URL} {
    tls /root/certs/{$FRONTEND_URL}.pem /root/certs/{$FRONTEND_URL}-key.pem

    encode zstd gzip
    file_server browse

    reverse_proxy react:{$FRONTEND_PORT}
}

{$MAIN_API_URL} {
    tls /root/certs/{$MAIN_API_URL}.pem /root/certs/{$MAIN_API_URL}-key.pem

    encode zstd gzip
    file_server browse

    reverse_proxy main_app:{$MAIN_BACKEND_PORT} 
}

{$ACTIVITIES_API_URL} {
    tls /root/certs/{$ACTIVITIES_API_URL}.pem /root/certs/{$ACTIVITIES_API_URL}-key.pem

    encode zstd gzip
    file_server browse

    reverse_proxy activities:{$ACTIVITIES_BACKEND_PORT}
}

{$HOTELS_API_URL} {
    tls /root/certs/{$HOTELS_API_URL}.pem /root/certs/{$HOTELS_API_URL}-key.pem

    encode zstd gzip
    file_server browse

    reverse_proxy hotels:{$HOTELS_BACKEND_PORT}
}

{$MAPS_API_URL} {
    tls /root/certs/{$MAPS_API_URL}.pem /root/certs/{$MAPS_API_URL}-key.pem

    encode zstd gzip
    file_server browse

    reverse_proxy maps:{$MAPS_BACKEND_PORT}
}

{$RESTAURANTS_API_URL} {
    tls /root/certs/{$RESTAURANTS_API_URL}.pem /root/certs/{$RESTAURANTS_API_URL}-key.pem

    encode zstd gzip
    file_server browse

    reverse_proxy restaurants:{$RESTAURANTS_BACKEND_PORT}
}