version: "3"
name: "tweb800"
services: 

  react:
    build:
      context: ./frontend
      target: development
    tty: true
    ports:
      - ${FRONTEND_PORT}:${FRONTEND_PORT}
    environment:
      VITE_PORT: ${FRONTEND_PORT}
      NODE_VERSION: 18
    volumes:
      - ./frontend:/code/react
    working_dir: /code/react
    networks:
      - default

  postgres:
    image: postgres:alpine3.17
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./db:/data
    networks:
      - default
  
  # main symfony app
  main_app:
    build: 
      context: ./backend
      target: development
      args:
        - APP_NAME=main_app
    tty: true
    ports:
      - "${MAIN_BACKEND_PORT}:${MAIN_BACKEND_PORT}" #activities
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?serverVersion=${POSTGRES_VERSION}
      FRONTEND_URL: ${FRONTEND_URL}
    links : 
      - postgres
    volumes:
      - ./backend/main_app:/code/main_app
    working_dir: /code/main_app
    
  # server
  caddy:
    image: caddy:2.6.4-alpine
    volumes:
      - ./backend/misc/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
      - ./certs:/root/certs
    ports:
        # HTTP
      - target: 80
        published: 80
        protocol: tcp
      # HTTPS
      - target: 443
        published: 443
        protocol: tcp
        # HTTP/3
      - target: 443
        published: 443
        protocol: udp
    environment:
      FRONTEND_PORT: ${FRONTEND_PORT}
      MAIN_BACKEND_PORT: ${MAIN_BACKEND_PORT}
      ACTIVITIES_BACKEND_PORT: ${ACTIVITIES_BACKEND_PORT}
      HOTELS_BACKEND_PORT: ${HOTELS_BACKEND_PORT}
      MAPS_BACKEND_PORT: ${MAPS_BACKEND_PORT}
      RESTAURANTS_BACKEND_PORT: ${RESTAURANTS_BACKEND_PORT}
      FRONTEND_URL: ${FRONTEND_URL}
      MAIN_API_URL: ${MAIN_API_URL}
      ACTIVITIES_API_URL: ${ACTIVITIES_API_URL}
      HOTELS_API_URL: ${HOTELS_API_URL}
      MAPS_API_URL: ${MAPS_API_URL}
      RESTAURANTS_API_URL: ${RESTAURANTS_API_URL}
    restart: unless-stopped


  # MICROSERVICES
  activities:
    build: 
      context: ./backend
      target: development
      args:
        - APP_NAME=activities
    tty: true
    ports:
      - "${ACTIVITIES_BACKEND_PORT}:${ACTIVITIES_BACKEND_PORT}" #activities
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?serverVersion=${POSTGRES_VERSION}
      FRONTEND_URL: ${FRONTEND_URL}
    links : 
      - postgres
    volumes:
      - ./backend/activities:/code/activities
    working_dir: /code/activities
    

  hotels:
    build: 
      context: ./backend
      target: development
      args:
        - APP_NAME=hotels
    tty: true
    ports:
      - "${HOTELS_BACKEND_PORT}:${HOTELS_BACKEND_PORT}" #hotels
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?serverVersion=${POSTGRES_VERSION}
      FRONTEND_URL: ${FRONTEND_URL}
    links : 
      - postgres
    volumes:
      - ./backend/hotels:/code/hotels
    working_dir: /code/hotels
    

  maps:
    build: 
      context: ./backend
      target: development
      args:
        - APP_NAME=maps
    tty: true
    ports:
      - "${MAPS_BACKEND_PORT}:${MAPS_BACKEND_PORT}" #maps
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?serverVersion=${POSTGRES_VERSION}
      FRONTEND_URL: ${FRONTEND_URL}
    links : 
      - postgres
    volumes:
      - ./backend/maps:/code/maps
    working_dir: /code/maps
    

  restaurants:
    build: 
      context: ./backend
      target: development
      args:
        - APP_NAME=restaurants
    tty: true
    ports:
      - "${RESTAURANTS_BACKEND_PORT}:${RESTAURANTS_BACKEND_PORT}" #restaurants
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?serverVersion=${POSTGRES_VERSION}
      FRONTEND_URL: ${FRONTEND_URL}
    links : 
      - postgres
    volumes:
      - ./backend/restaurants:/code/restaurants
    working_dir: /code/restaurants
    


networks:
  default: {}
  
volumes:
  postgres:
    driver: local
  storage:
    driver: local
  caddy_data:
  caddy_config: