name: 'BACKEND: Performs checks'
on: pull_request

jobs:
  format-check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11.2']
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black
      - name: Check format
        run: |
          python -m black --check ./backend/django

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11.2']
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r backend/django/requirements-dev.txt
      - name: Check makemigrations
        run: |
          cd ./backend/django
          python ./manage.py makemigrations --check --dry-run
      - name: Run pytest
        env:
          DJANGO_SETTINGS_MODULE: app.settings.test
        run: |
          cd ./backend/django
          pytest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: symfonyweb800
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgresql__password
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
